.crd {
    max-width: 500px;
    background-color: rgb(124, 85, 85);
    color: white;
    font-size: medium;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}

h1 {
    text-align: center;
    color: rgb(160, 40, 124);
}